<div class="container mt-5">
  <div class="row tm-content-row">

      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
      <form method="post" action="/deleteSelectedEmployee">

        <div class="tm-bg-primary-dark tm-block tm-block-products">
          <div class="tm-product-table-container">
           <div style="color:white"> Total : {{Employee.length}} </div>
            <table class="table table-hover tm-table-small tm-product-table">
              <thead>
                <tr>
                  <th scope="col">&nbsp;</th>
                  <th scope="col"> ID</th>

                  <th scope="col"> EMAIL</th>
                  <th scope="col"> SURNAME</th>
                  <th scope="col">NAME</th>
                  <th scope="col">PASSWORD</th>



                  <th scope="col">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                {{# each Employee }}
                <tr>
                  <th scope="row"><input type="checkbox" value="{{this._id}}" name="checkbox" /></th>
                              <td>{{this._id}}</td>
      
                  <td>{{this.email}}</td>

                  <td class="tm-product-name">{{this.surname}}</td>
                  <td>{{this.name}}</td>
                  <td>{{this.password}}</td>



                  <td>
                    <a href="/deleteEmployee/{{this._id}}" onclick="return confirm('Are you sure you want to delete this item?');" class="tm-product-delete-link">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                      <a href="/updateEmployee/?id={{this._id}}" class="tm-product-delete-link">
                      <i class="far fa-edit tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
                {{/each}}





              </tbody>
            </table>
          </div>
          <!-- table container -->
          <a href="http://localhost:3000/createNewEmployee" class="btn btn-primary btn-block text-uppercase mb-3">Add new
            employee</a>
          <button type="submit" onclick="return confirm('Are you sure you want to delete this item?');" class="btn btn-primary btn-block text-uppercase mb-3">Delete selected employee</button>

        </div>
      </form>
      </div>
    
  </div>
</div>